:root {
	--teal: hsl(207, 100%, 62%);
	--color: white;
	--lighter-teal: hsl(207, 87%, 78%);
	
	--border-radius: 50px;
  }
*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
.hero{
	height: 100vh;
	width: 100%;
	background-image: url(../img/background.jpg);
	background-size: cover;
	background-position: center;
	object-fit: scale-down;
}
 /*-----------------------------------------Top Links--------------------------------------------  */
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}
/*---------------------------------Portfolio Logo--------------------------------------------------- */
.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: var(--teal);
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: var(--teal);
	transition: .4s;
}
/*--------------------------------------------------- GitHub Button----------------------------------------*/
.btn{
	background-color:var(--teal);
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.2);
}
/*------------------------------------------------------------Content---------------------------------------*/
.content{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}
h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
}
h3{
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}
h4{
	color: var(--lighter-teal);
	letter-spacing: 2px;
	font-size: 20px;
}
/*----------------------------------------------Email Me Button-----------------------------------------------------------*/
.newslatter a{
	width: 380px;
	max-width: 100%;
	position: relative;
}
.newslatter form a:first-child{
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid var(--teal);
	outline: none;
	border-radius: 30px;
	transition: transform .4s; 

}
.newslatter form a:first-child:hover{
	border: 2px solid var(--teal);
	cursor: pointer;
	transform: scale(1.2);
}
.newslatter form a:last-child{
	position: relative;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color: var(--teal);
	text-align: center;
	text-decoration: none;
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px; 
}
/*------------------------------------------------------About Me------------------------------------------------------------*/
.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
}
.main{
	width: 100%;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: var(--lighter-teal);
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
/*-------------------------------------------------------My Projects----------------------------------------------------------------------*/
.projects{
	background: #101010;
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: white;
	font-size: 75px;
	width: 100%;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
/*------------------------------Project Cards--------------------------------*/
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
	transition: .4s; 

}
.card:hover {
	transform: scale(1.1);
}
/*---------------------------------Card Links----------------------------*/
#project1{
	background-image: url(../img/sherpa.jpg);
	background-color: white;
	background-size: cover;
	background-position: center;

}
#project2{
	background-image: url(../img/prework-img.jpg);
	background-color: white;
	background-size: cover;
	background-position: center;
}
#project3{
	background-image: url(../img/moon-dollars.jpg);
	background-color: white;
	background-size: cover;
	background-position: center;
}
/* -------------Card Titles------------------------------*/
h7{
	color: white;
	background-color: var(--teal) ;
	border: 6px solid transparent;
	font-weight: bold;
	border-radius: 30px;
	font-size: 25px;
	margin-bottom: 30px;
}
/*----------Card Info------------------------------------*/
.pra p{
	color:#373636;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
/*------------------Card Buttons-------------------------*/
.card .button{
	background-color:var(--teal);
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s;
	display: flex;
	justify-content: center;
	margin-top: 241px;
}
.card .button:hover{
	border: 2px solid var(--teal);
	cursor: pointer;
}
/*--------------------------Contact Me Section----------------------------------------------------------------------- */
.contact-me{
	width: 100%;
	height: 290px;
	background: #191919;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.contact-me p{
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}
/*-------------Click Me Button-------------*/
.contact-me .button-two{
	background-color: var(--teal);
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
.contact-me .button-two:hover{
	background-color: transparent;
	border: 2px solid;
	cursor: pointer;
}
/*-----------------------------------------------------------Footer Section------------------------------------------------------------------------------------------ */
footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
ul {
    margin: 0px;
    padding: 0px;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta {
	display: inline;
}
.single-cta i {
  color: var(--teal);
  font-size: 30px;
  float: inline-start;
  margin-top: 8px;
}
.cta-text {
  padding-left: 20px;
  display: inline-block;
}
.cta-text h6 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: absolute;
  z-index: 2;
}
/*-------------------------------Media Query----------------------------------- */
@media screen and (max-width: 1000px) {

	.content{
		top: 25%;
	}
	.hero{
		height: 50vh;
	}
}	